# Operational System Mode Restrictions
NODE_ENV=production
HOST=0.0.0.0
PORT=3000

# Relational Infrastructure Connection Sockets
DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/<database_name>?schema=public"

# Cross-Origin Ingress Routing Parameters
CORS_ORIGIN="https://nilvee.com"

# Observability System Metrics
LOG_LEVEL=info

# Cryptographic Identity & Authorization Parameters
JWT_SECRET="use-a-high-entropy-64-character-random-hex-string-in-production"
JWT_EXPIRES_IN="8h"

# Automated Administrative Bootstrap Credentials
ADMIN_EMAIL="admin@nilvee.com"
ADMIN_PASSWORD="ChooseAStrongUniquePassword2026!"
ADMIN_NAME="Nilvee Master Admin"
